

<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="margin-top: 10px; ">
    <div class="container-fluid">
      <a style="color:aliceblue;" class="navbar-brand" href="#">Digital News</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="color:aliceblue;" class="nav-link active" aria-current="page" href=" ">Home</a>
          </li>
          <li class="nav-item">
            <a style="color:aliceblue;" class="nav-link" href="https://www.businessnews.com.au/Category/Sport">Sports</a>
          </li>
          <li class="nav-item">
            <a style="color:aliceblue;" class="nav-link" href="https://www.businessnews.com.au/Category/Government">Politics</a>
          </li>
        </ul>
        <ul class = "navbar-nav ">
        <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 50px; text-align: center;"(click)="onLogout()">Logout</button>
         </ul>
      </div>
    </div>
  </nav>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <a href="https://www.republicworld.com/entertainment-news"> <img src="assets/Entertainment.jpe" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <!-- <a class="nav-link" href="https://www.republicworld.com/entertainment-news">Entertainment</a> -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Entertainment
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Music</a></li>
                      <li><a class="dropdown-item" href="#">Movies</a></li>
                      <li><a class="dropdown-item" href="#">Tv-Series</a></li>
                    </ul>
                  </div>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.businessnews.com.au/Category/Sport"> <img src="assets/Sports1.jpg" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://www.businessnews.com.au/Category/Sport">Sports</a>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.businessnews.com.au/Category/Government"> <img src="assets/Politics.jpe" height="200px" width="100%" class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://www.businessnews.com.au/Category/Government">Politics</a>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.businessnews.com.au/Category/Financial-Services"> <img src="assets/Business 1.jpe" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://www.businessnews.com.au/Category/Financial-Services">Financial Services</a>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.businessnews.com.au/Category/Indigenous"> <img src="assets/World News.jpg" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://www.businessnews.com.au/Category/Indigenous">Indigenous News</a>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.businessnews.com.au/Category/Technology-Innovation-Science"> <img src="assets/Science.jpe" height="200px" width="100%" class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://www.businessnews.com.au/Category/Technology-Innovation-Science">Science & Technology</a>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>

</div>

